body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.calculator {
  text-align: center;
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-group input {
  width: calc(100% - 12px); /* 입력창 너비 조정 */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* 내부 여백을 포함한 너비 계산 */
}

#stopLossButtons {
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#stopLossButtons p {
  width: 100%;
  text-align: left;
  font-weight: bold;
  margin-bottom: 5px;
}

#stopLossButtons button {
  flex: 1;
  margin: 0 5px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

#stopLossButtons button:hover {
  background-color: #0056b3;
}

button.calculate-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #28a745;
  color: #fff;
  cursor: pointer;
}

button.calculate-button:hover {
  background-color: #218838;
}

.result {
  margin-top: 20px;
  font-weight: bold;
}

.highlight {
  color: #dc3545; /* 또는 다른 원하는 색상 */
}
