body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.container {
  text-align: center;
}

.memorial {
  position: absolute;
  bottom: 30%; /* container 아래에 10px 위치 */
  left: 50%; /* container의 가운데 정렬을 위해 50%로 설정 */
  transform: translateX(-50%); /* 가운데 정렬 */
}


.control {
  margin-top: 20px;
}

.control button {
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.control button:hover {
  background-color: #45a049;
}
